/node_modules
/public/hot
/public/uploads
/public/.well-known
/public/storage
/storage/*.key
/storage/logs
/storage/logs/laravel.log
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
